<h1>Welcome To Burger Bars!!</h1>

<img src="/public/assets/big-burger-icon_163454-80.jpg" alt="burger">

<h2>You havent eaten that burger!?</h2>

<ul>
  {{#each burgers}}
    {{#unless eat}}
    
      {{> burgers/burger-block eat=false}}  
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers eaten</h2>

<ul>
  {{#each burgers}}
    {{#if eat}}
        
      {{> burgers/burger-block eat=true}}

    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger</label>
    <input type="text" id="ca" name="name">
  </div>

  <button type="submit">Add Burger</button>
</form>